@model Hotel.Client.Areas.Admin.DTOs.Floor.FloorDTOs

<div class="modal fade" id="UpdateFloor" tabindex="-1" role="dialog" aria-labelledby="UpdateFloorLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form asp-action="Update" asp-controller="AdminFloor" area="Admin" method="POST">
				<div class="modal-header">
					<h3 class="modal-title fs-5" id="UpdateFloorLabel">Cập nhật tầng</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="text" asp-for="Id" id="id" class="form-control d-none" />
					<div class="py-2">Tên tầng</div>
					<input type="text" asp-for="FloorNumber" id="number" class="form-control" placeholder="Nhập tên tầng" />
					<span asp-validation-for="FloorNumber" class="text-danger"></span>

					<div class="py-2"> Mô tả tầng</div>
					<textarea asp-for="Desc" class="form-control" id="description" rows="4"> </textarea>
					<span asp-validation-for="Desc" class="text-danger"></span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Hủy</button>
					<button type="submit" class="btn btn-primary">Cập nhật </button>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	function UpdateFloor(number, desc, id) {
		document.getElementById('number').value = number;
		document.getElementById('description').value = desc;
		document.getElementById('id').value = id;
	}
</script>