@model Hotel.Data.Entities.AppBookingRoom;

<div class="modal fade" id="ConfirmCheckInModal" tabindex="-1" aria-labelledby="ConfirmCheckInModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmCheckInModalLabel">Xác nhận nhận phòng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Body -->
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xác nhận nhận phòng không?</p>
            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <a class="btn btn-primary" asp-action="CheckIn" asp-route-id="@Model.Id">
                    Xác nhận
                </a>
            </div>
        </div>
    </div>
</div>
