
<div class="container-fluid pt-4" style="background-color: #f9faff; z-index: 1;">
    <div class="row py-2 h3 pt-3 m-0 text-center" style="padding: 0 160px; color: #07377a;">
        <span class="col-auto mx-auto pb-3" style=" border-bottom: 5px solid rgb(0, 66, 188);">HMSoft.com</span>
    </div>
    <div class="row py-2 pt-0 m-0" style="padding: 0 160px;">
        <div class="col-6">
            <div class="row">
                <div class="col h2 mt-4 text-center" style="color: #114a9f; ">
                    Khách hàng thành công với sản phẩm HMSoft.com
                </div>
            </div>
            <div class="row ">
                <div class="col mt-3 fw-bold" style="color: #114a9f;  font-size: 80px; letter-spacing: -0.9px;">
                    <span class=" mx-auto pb-3" style=" border-bottom: 1px solid rgb(0, 66, 188);">9.000+</span>
                </div>
                <div class="col mt-5" style="color: #114a9f; font-weight: 600; font-size:  18px; letter-spacing: -0.9px;">
                    Doanh nghiệp lớn nhỏ tại Việt Nam sử dụng sản phẩm của HMSoft.com
                </div>
            </div>
            <div class="row mt-5">
                <div class="col p-1 text-center" style="color: #114a9f; font-weight: 600;">
                    <span>Vận hành tối ưu</span>
                    <div><img src="~/images/home/icon-van-hanh.png" /></div>
                </div>
                <div class="col p-1 text-center" style="color: #114a9f; font-weight: 600;">
                    <span>Kinh doanh hiệu quả</span>
                    <div><img src="~/images/home/icon-kinh-doanh-hieu-qua.png" /></div>
                </div>
                <div class="col p-1 text-center" style="color: #114a9f; font-weight: 600;">
                    <span>Phân phối thông minh</span>
                    <div><img src="~/images/home/icon-phan-phoi-thong-minh.png" /></div>
                </div>
                <div class="col p-1 text-center" style="color: #114a9f; font-weight: 600;">
                    <span>Công nghệ mới nhất</span>
                    <div><img src="~/images/home/icon-cong-nghe-moi-nhat.png" /></div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col mt-4 mb-5">
                    <img src="~/images/home/image-vietnam.png" width="490px" class="ms-5" style=" border-radius: 10px;">
                </div>
            </div>
        </div>
    </div>
</div>