<div class="container-fluid pb-4" style="background-color: rgba(134, 190, 239, 0.375); z-index: 1;">
    <div class="row py-2 pt-3 m-0 pb-5" style="padding: 0 160px;">
        <div class="col-6">
            <div class="row">
                <div class="col h1 mt-5" style="color: #07377a; font-size: 45px; font-weight: 540; ">
                    Nền tảng quản trị khách sạn thị phần số 1 Việt Nam
                </div>
            </div>
            <div class="row">
                <div class="col mt-3" style="color: #000000; font-size: 22px; letter-spacing: -0.9px;">
                    Phần mềm quản lý khách sạn <span style="color: #07377a">HMSoft.com</span> là bức nền hoàn hảo, để những khoảnh khắc dịch vụ tinh tế và trải nghiệm cá nhân hóa của khách hàng trở thành trung tâm.
                </div>
            </div>
            <div class="row">
                <div class="col-auto mt-4">
                    <label class="golden-button" style=" cursor: pointer; border-radius: 23px; ">
                        <a asp-action="Package" asp-controller="Home" asp-route-id="1"><span class="golden-text fw-bold ">Đăng ký dùng thử ngay</span></a>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col mt-5">
                    <img src="~/images/home/tcsoft-hotel.jpg" width="590px" class="ms-5" style="box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2); border-radius: 10px; filter: brightness(0.9) contrast(0.85);">
                </div>
            </div>
        </div>
    </div>
</div>