@model Hotel.Client.DTOs.ValidMailDTOs
@{
	ViewData["Title"] = "Xác thực tài khoản";
}

<div class="auth-page-wrapper auth-bg-cover py-5 d-flex justify-content-center align-items-center min-vh-100">
	<div class="bg-overlay"></div>
	<!-- auth-page content -->
	<div class="auth-page-content overflow-hidden pt-lg-5" style="z-index: 0">
		<div class="container" style="z-index: 0">
			<div class="row">
				<div class="col-lg-12">
					<div class="card overflow-hidden m-0">
						<div class="row justify-content-center g-0">
							<div class="col-lg-6">
								<div class="p-lg-5 p-4 auth-one-bg h-100">
									<div class="bg-overlay"></div>
									<div class="position-relative h-100 d-flex flex-column">
										<div class="mb-4" style="font-size: 20px; color:honeydew">
											HMSoft.com
										</div>
										<div class="mt-auto">
											<div class="mb-3">
												<i class="ri-double-quotes-l display-4 text-success"></i>
											</div>

											<div id="qoutescarouselIndicators" class="carousel slide" data-bs-ride="carousel">
												<div class="carousel-indicators">
													<button type="button" data-bs-target="#qoutescarouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
													<button type="button" data-bs-target="#qoutescarouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
													<button type="button" data-bs-target="#qoutescarouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
												</div>
												<div class="carousel-inner text-center text-white pb-5">
													<div class="carousel-item active">
														<p class="fs-15 fst-italic">"Tương lai của ngành khách sạn nằm trong lòng bàn tay bạn "</p>
													</div>
													<div class="carousel-item">
														<p class="fs-15 fst-italic">"Chỉ cần một giải pháp thông minh, bạn đã sở hữu chìa khóa thành công của khách sạn"</p>
													</div>
													<div class="carousel-item">
														<p class="fs-15 fst-italic">"Vận hành khách sạn thông minh – nâng tầm trải nghiệm khách hàng "</p>
													</div>
												</div>
											</div>
											<!-- end carousel -->

										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-6">
								<div class="p-lg-5 p-4">
									<div>
										<h5 class="text-primary">Xác thực tài khoản đăng ký</h5>
										<p class="text-muted">Phần Mềm Quản trị Khách Sạn - Giải pháp quản lý khách sạn toàn diện</p>
									</div>

									<div class="mt-4">
										<form class="needs-validation" novalidate asp-action="ValidMail">
											<div class="mb-3">
												<label for="useremail" class="form-label">Email <span class="text-danger">*</span></label>
												<input asp-for="Gmail" type="email" class="form-control" id="useremail" placeholder="Vd: hotel@gmail.com" required>
												<div class="invalid-feedback">
													Trường email này là bắt buột
												</div>
											</div>
											<div class="h4 mt-1">
												<i>Hoặc</i>
											</div>
											<div class="row mb-4">
												<div class="col-auto">
													<a href="@Url.Action("ValidByGoogle", "Home", new { provider = "Google" })">
														<label class="" style=" cursor: pointer;">
															<span class="golden-text">Xác thực bằng tài khoản Google</span>
														</label>
													</a>
												</div>
											</div>
											<div class="row mt-4">
												<div class="col-6"  style="padding-bottom: 12px">
													<a asp-action="RentalPackage" style="margin: 15px 25px 0 0; padding-top: 10px"> <i class="fas fa-angle-double-left"></i> Trở về trang trước</a>
												</div>
												<div class="col-6">
													<button class="btn btn-success w-100" type="submit">Tiếp theo <i class=" fas fa-chevron-right" style="margin-left: 3px"></i></button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end card -->
				</div>
				<!-- end col -->

			</div>
			<!-- end row -->
		</div>
		<!-- end container -->
	</div>
	<!-- end Footer -->
</div>
<script src="~/assets/js/layout.js"></script>
<!-- Bootstrap Css -->
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />
<!-- custom Css-->
<link href="~/assets/css/custom.min.css" rel="stylesheet" type="text/css" />



<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/libs/feather-icons/feather.min.js"></script>
<script src="~/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
<script src="~/assets/js/plugins.js"></script>

<!-- validation init -->
<script src="~/assets/js/pages/form-validation.init.js"></script>
<!-- password create init -->
<script src="~/assets/js/pages/passowrd-create.init.js"></script>